<!DOCTYPE html>
<html>

<head>
   <title>Chat</title>
   <link rel="icon" href="img/favicon.png">
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
   <div class="centered-form">
      <div class="centered-form__box">
         <h1>Join</h1>
         <form method="POST" action="/users/login">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="email@exemple.com" required />
            <label for="password">Password</label>
            <input type="text" name="password" id="password" placeholder="Password" required />
            <button>Login</button>
         </form>
      </div>
   </div>
</body>

</html>