<!DOCTYPE html>

<html>

<head>
   <link rel="stylesheet" href="css/styles.css">
</head>

<body>
   {{>header}}
   <img src="img/Blue And Purple No Logo.png" alt="Alt image">

   {{>footer}}

</body>

</html>